.checked{
  background-color: lightgrey;
  text-decoration: line-through;
  padding: 10px;
  align-items: center;
  border-bottom: 1px solid black;
  justify-content: space-between;

}

.addSomeNewToDo, textarea {outline:none;border: none;}
.addSomeNewToDo:active, textarea:active {outline:none;}
:focus {outline:none;}
textarea {resize:none;}
textarea {resize:vertical;}
textarea {resize:horizontal;}

li{
  padding: 0 10px 0 10px;
}

ul{
  padding-left: 0;
  max-height: 500px;
  overflow-y: auto;
}

.inner{
  display: flex;
  align-items: center;
}

.dltButton{
  outline: none;
  background-color: inherit;
  border: none;
}

.dltButton:hover{
  border: 1px solid lightgrey;
}

.innerForToDo{
  justify-content: space-between;
  display: flex;
  padding: 10px;
  align-items: center;
  border-bottom: 1px solid black;
}

.filtersDiv{
  display: flex;
}

a{
  text-decoration: none;
  padding: 0 10px 0 10px;
}

a:hover{
  font-weight: bold;
  text-decoration: underline;
}

